<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2011 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
  ~ Use of this source code is governed by a BSD-style
  ~ license that can be found in the LICENSE file.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <description>A Google App Engine Go / GWT Application</description>
    <display-name>loxal: Sem - Web Workspace Environment (W2E)</display-name>
    <!--<welcome-file-list>-->
    <!--<welcome-file>commander/index.html</welcome-file>-->
    <!--</welcome-file-list>-->
</web-app>
